In [4]:
#Import pandas library
import pandas as pd
# Create dataframe
sample_data = {'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
               'gender': ['M', 'F', 'F', 'M', 'M'],
               'communication_skill_score': [40, 45, 23, 39, 39],
               'quantitative_skill_score': [38, 41, 42, 48, 32]}
data = pd.DataFrame(sample_data, columns = ['name', 'gender','communication_skill_score', 'quantitative_skill_score'])
# find mean of communication_skill_score column
data['communication_skill_score'].mean(axis=0)

37.2

In [10]:
# find mode of communication_skill_score column
data['communication_skill_score'].mode()

0    39
dtype: int64

In [9]:
# find median of communication_skill_score column
data['communication_skill_score'].median()

39.0

In [11]:
column_range=data['communication_skill_score'].max()- data['communication_skill_score'].min()
print(column_range)

22

In [13]:
# First Quartile
q1 = data['communication_skill_score'].quantile(.25)
# Third Quartile
q3 = data['communication_skill_score'].quantile(.75)
# Inter Quartile Ratio
iqr=q3-q1
print(q1,q3,iqr)

39.0 40.0 1.0

In [14]:
# Variance of communication_skill_score
data['communication_skill_score'].var()

69.2

In [15]:
# Standard deviation of communication_skill_score
data['communication_skill_score'].std()

8.318653737234168

In [16]:
# Describe dataframe
data.describe()

       communication_skill_score  quantitative_skill_score
count                   5.000000                  5.000000
mean                   37.200000                 40.200000
std                     8.318654                  5.848077
min                    23.000000                 32.000000
25%                    39.000000                 38.000000
50%                    39.000000                 41.000000
75%                    40.000000                 42.000000
max                    45.000000                 48.000000

In [17]:
# skewness of communication_skill_score column
data['communication_skill_score'].skew()

-1.704679180800373

In [18]:
# kurtosis of communication_skill_score column
data['communication_skill_score'].kurtosis()

3.6010641852384015

In [19]:
# Covariance between columns of dataframe
data.cov()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                      69.20                     -6.55
quantitative_skill_score                       -6.55                     34.20